@model string
@{
    ViewData["Title"] = "Confirm email";
}

<section class="vh-100" ;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-5 col-lg-7 col-md-9">

              
                <div class="card" style="border-radius: 1rem; background-color: #333;">
                    <div class="row g-0">
                        <div class="col-md-12 col-lg-12 d-flex align-items-center">


                            <div class="card-body p-4 p-lg-4 text-white">

                                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                    <h2>@Model - <a class="btn btn-primary" asp-controller="User" , asp-action="Index">Sign In</a></h2>
                                    <button type="button" class="btn-close" data-bs-dimiss="alert" arial-label="Close"></button>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

