﻿
@model NexUs.Core.Application.ViewModels.Users.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<section class="vh-100" ;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-5 col-lg-7 col-md-9">

                
                <div class="card text-white p-4 shadow-lg" style="border-radius: 1rem; background-color: #333;">
                    <div class="card-body">
                        @if (Model.HasError)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <p>@Model.Error</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                        <div class="text-center mb-4">
                       
                            <h2 class="fw-bold mt-2 mb-4">Logo</h2>
                            <h5 class="fw-normal">Inicia Sesión</h5>
                        </div>

                        <form asp-action="Index" asp-controller="User">
                            <!-- Nombre de usuario -->
                            <div class="form-group mb-3">
                                <label asp-for="UserName" class="form-label">Nombre de usuario</label>
                                <input asp-for="UserName" type="text" class="form-control form-control-lg text-light" style="background-color: #444;">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <!-- Contraseña -->
                            <div class="form-group mb-3">
                                <label asp-for="Password" class="form-label">Contraseña</label>
                                <input asp-for="Password" type="password" class="form-control form-control-lg text-light" style="background-color: #444; ">
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>

                            <!-- Botón de Login -->
                            <div class="d-grid">
                                <button class="btn btn-lg text-white" type="submit" style="background-color: #008f89; border: none;">
                                    Login
                                </button>
                            </div>
                        </form>

                        <!-- Enlaces -->
                        <div class="text-center mt-3">
                            <a asp-controller="User" asp-action="ForgotPassword" class="text-light text-decoration-none">Olvidé mi contraseña</a>
                            <p class="mt-2">
                                ¿No tienes cuenta?
                                <a asp-controller="User" asp-action="Register" class="fw-bold" style="color: #008f89; text-decoration: none;">Regístrate aquí</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

           
        </div>
    </div>
</section>