@model NexUs.Core.Application.ViewModels.Users.SaveUserViewModel
@section NoSidebar { }
@{
    ViewData["Title"] = "Registro";
}

<section class="min-vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-6 col-lg-8 col-md-10">
                <div class="card text-white p-4 shadow-lg" style="border-radius: 1rem; background-color: #333;">
                    <div class="card-body">
                        @if (Model.HasError)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <p>@Model.Error</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                        <div class="text-center mb-4">
                            <img width="425" height="350" src="~/images//Nexus completo.png" />
                            <h5 class="fw-bold">Regístrate</h5>
                        </div>

                        <form asp-action="Register" asp-controller="User" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="FirstName" class="form-label">Nombre</label>
                                        <input asp-for="FirstName" class="form-control form-control-lg text-light" style="background-color: #444;">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="LastName" class="form-label">Apellido</label>
                                        <input asp-for="LastName" class="form-control form-control-lg text-light" style="background-color: #444;">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="Email" class="form-label">Email</label>
                                <input asp-for="Email" type="email" class="form-control form-control-lg text-light" style="background-color: #444;">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="UserName" class="form-label">Nombre de usuario</label>
                                <input asp-for="UserName" type="text" class="form-control form-control-lg text-light" style="background-color: #444;">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="PhoneNumber" class="form-label">Teléfono</label>
                                <input asp-for="PhoneNumber" class="form-control form-control-lg text-light" style="background-color: #444;">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="Password" class="form-label">Contraseña</label>
                                        <input asp-for="Password" type="password" class="form-control form-control-lg text-light" style="background-color: #444;">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña</label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg text-light" style="background-color: #444;">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="File" class="form-label">Foto de perfil</label>
                                <input asp-for="File" type="file" class="form-control form-control-lg text-light" style="background-color: #444;">
                                <span asp-validation-for="File" class="text-danger"></span>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-lg text-white" type="submit" style="background-color: #008f89; border: none;">
                                    Registrarse
                                </button>
                            </div>
                        </form>

                        <div class="text-center mt-3">
                            <p>
                                ¿Ya tienes cuenta?
                                <a asp-controller="User" asp-action="Index" class="fw-bold" style="color: #008f89; text-decoration: none;">Inicia sesión aquí</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
